Django==1.6.1
Pillow==2.3.0
argparse==1.2.1
dj-database-url==0.2.2
git+https://github.com/kennethreitz/dj-static.git
django-filebrowser==3.5.3
django-grappelli==2.5.2
django-toolbelt==0.0.1
gunicorn==18.0
psycopg2==2.5.2
pystache==0.5.3
static==1.0.2
static3==0.5
wsgiref==0.1.2
