{% extends "core/base.html" %}

{% block css %}

    <style type="text/css">

    	.navbar {
			margin-left: 180px;
		}

    </style>

{% endblock css %}

{% block content-base %}

	<div class="container-fluid">
		<div class="row-fluid">

			<div class="col-md-4">

				<header>
					<a href="#"><img src="holder.js/130x130" alt="" class="img-circle"></a>
					<h4>Nome do Aluno</h4>	
				</header>

			</div>

			<div class="col-md-8">

				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">

						<ul class="nav navbar-nav">
							<a href="#"><img src="holder.js/45x45" alt="" class="img-circle"></a>
							<a href="#"><img src="holder.js/45x45" alt="" class="img-circle"></a>
							<a href="#"><img src="holder.js/45x45" alt="" class="img-circle"></a>
							<a href="#"><img src="holder.js/45x45" alt="" class="img-circle"></a>
							<a href="#"><img src="holder.js/45x45" alt="" class="img-circle"></a>
						</ul>

						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar Aluno">
							</div>
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</form>

						<ul class="nav navbar-nav navbar-left">
							<a href="#"><img src="holder.js/150x50" alt=""></a>
							<a href="#">
								<img src="holder.js/45x45" alt="" class="img-circle">
								<span class="label label-primary">13</span>
							</a>
							<a href="#"><span class="glyphicon glyphicon-off"></a>
						</ul>

					</div>
				</nav>	

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 left">

				<div class="panel panel-default">
	            	<div class="panel-heading">
	            		<h4 class="panel-title">
	            		<a data-toggle="collapse" data-parent="#accordion" href="#collapsePerfil" class="">Perfil</a>
	            		</h4>
	            	</div>
	            	<div id="collapsePerfil" class="panel-collapse collapse in" style="height: auto;">   
	            		<a href="#" class="list-group-item">Visualizar Perfil</a>
	            		<a href="#" class="list-group-item">Mensagens</a>
	            		<a href="#" class="list-group-item">Editar</a>
	            		<a href="#" class="list-group-item">Alterar Senha</a>  
	            	</div>
            	</div>

            	<div class="panel panel-default">
	            	<div class="panel-heading">
	            		<h4 class="panel-title">
	            		<a data-toggle="collapse" data-parent="#accordion" href="#collapseFichas" class="">Fichas</a>
	            		</h4>
	            	</div>
	            	<div id="collapseFichas" class="panel-collapse collapse" style="height: auto;">   
	            		<a href="#" class="list-group-item">Visualizar Fichas</a>
	            		<a href="#" class="list-group-item">Criar Ficha</a>
	            		<a href="#" class="list-group-item">Editar Ficha</a> 
	            	</div>
            	</div>

            	<div class="panel panel-default">
	            	<div class="panel-heading">
	            		<h4 class="panel-title">
	            		<a data-toggle="collapse" data-parent="#accordion" href="#collapseAtividades" class="">Atividades</a>
	            		</h4>
	            	</div>
	            	<div id="collapseAtividades" class="panel-collapse collapse" style="height: auto;">   
	            		<a href="#" class="list-group-item">Atividades Recentes</a>
	            		<a href="#" class="list-group-item">Histórico</a> 
	            	</div>
            	</div>

            	<div class="panel panel-default">
	            	<div class="panel-heading">
	            		<h4 class="panel-title">
	            		<a data-toggle="collapse" data-parent="#accordion" href="#collapseRelatorios" class="">Relatórios</a>
	            		</h4>
	            	</div>
	            	<div id="collapseRelatorios" class="panel-collapse collapse" style="height: auto;">   
	            		<a href="#" class="list-group-item">Relatórios de Treinos</a>
	            		<a href="#" class="list-group-item">Relatórios de Presença</a>
	            		<a href="#" class="list-group-item">Relatórios de Desempenho</a> 
	            	</div>
            	</div>

			</div>
		</div>
	</div>

{% endblock content-base %}

