{% extends "core/base.html" %}

{% block image-backgroud %}
        class="admin-full" ng-app="home" ng-controller="BuscarAluno"
{% endblock image-backgroud %}

{% block css %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
{% endblock css %}

{% block js %}
        <script src="{{STATIC_URL}}js/libs/controllers.js"></script>

        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
        </script>
{% endblock js %}

{% block content-base %}

        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">

                    <li class="sidebar-brand">
                        <a href="#">Dalton Moraes</a>
                    </li>

                    <div class="thumbnail text-center">
                        <img src="holder.js/120x120/sky" alt="" class="img-circle">
                        <h4 class="name-user">William Alonço</h4>  
                        <div class="caption">
                            <p class="information">
                                william-urias@hotmail.com<br>
                                (35) 9176-4917 
                            </p>
                            <p>
                                <a href="#" class="btn btn-danger" role="button">Fechar Ficha</a>
                            </p>
                        </div>
                    </div>

                    <li>
                        <a href="#">Treinos</a>
                    </li>
                    <li>
                        <a href="#">Presenças</a>
                    </li>
                    <li>
                        <a href="#">Avaliações</a>
                    </li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="page-content inset">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default"> <!-- panel -->
                                    <div class="panel-heading"> <!-- panel-heading -->
                                        <div class="btn-group"> <!-- group -->
                                            <button type="button" class="btn btn-danger btn-sm">Trocar Ficha</button>
                                            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Ficha 1</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Ficha 2</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Ficha 3</a></li>
                                            </ul>
                                        </div> <!-- /.group -->
                                    </div> <!-- /.panel-heading -->
                                    <div class="panel-body"> <!-- panel-body -->
                                        <h1>Ficha de Treinos e menus</h1>
                                    </div> <!-- /.panel-body -->
                                </div> <!-- /.panel -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                </div>
            </div>
        </div>

        <!-- navbar-bottom -->
        <nav class="navbar navbar-inverse navbar-fixed-bottom admin-navbar-bottom" role="navigation">
            <!-- container --> 
            <div class="container-fluid">
                <!-- navbar-header -->
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-admin-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- search-records -->
                    <a class="navbar-brand admin-navbar-search" href="#success" data-toggle="modal" ng-click="buscar()">
                        <button type="button" class="btn btn-primary admin-btn-search">Abrir Ficha do Aluno</button>
                    </a> <!-- /.search-records -->
                </div> <!-- /.navbar-header -->
                <!-- navbar-collapse -->
                <div class="collapse navbar-collapse navbar-admin-collapse">
                    <!-- navbar-assets -->
                    <ul class="nav navbar-nav navbar-left admin-navbar-assets">
                        <li>
                            <a href="#">Aluno 1 <span class="badge admin-badge-assets">T</span></a>
                        </li>
                        <li>
                            <a href="#">Aluno 2 <span class="badge admin-badge-assets">T</span></a>
                        </li>
                        <li>
                            <a href="#">Aluno 3 <span class="badge admin-badge-assets">T</span></a>
                        </li>
          
                    </ul> <!-- /.navbar-assets -->
                    <!-- navbar-logout -->
                    <ul class="nav navbar-nav navbar-right admin-navbar-logout">
                        <li>
                            <a href="#">Bruno <span class="badge admin-badge-logout">5</span></a>
                        </li>
                        <li>
                            <a href="#">Sair do Sistema</a>
                        </li>
                    </ul> <!-- /.navbar-logout -->
                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav> <!-- /.navbar-bottom -->
        
        <!-- Modal -->
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <!-- Modal-Dialog -->
            <div class="modal-dialog">

                <!-- Modal-Content -->
                <div class="modal-content">

                    <!-- Modal-Header -->
                    <div class="modal-header admin-modal-header">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Digite o nome do aluno" ng-model="searchText" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" >
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/ .Modal-Header -->
                    
                    <!-- Modal-Body -->
                    <div class="modal-body">

                       
                        <!-- Usuário -->
                       
                        <img class="center-block"  src="{{STATIC_URL}}img/buscando.gif" ng-show="loading" >
                        
                        <div class="row admin-user-search" ng-repeat="usuario in usuarios | filter:searchText track by usuario.username">



                            <div class="col-xs-3 text-center">
                                <img ng-src="{{ MEDIA_URL }}[[usuario.perfil.image]]" alt="" class="img-responsive img-circle">
                            </div>
                        
                            <div class="col-xs-3 admin-user-name">
                                <strong>[[usuario.username]]</strong>
                            </div>

                            <div class="col-xs-3 admin-user-category">
                                <span class="text-muted">[[usuario.perfil.level]]</span>
                            </div>

                            <div class="col-xs-3 admin-user-viewprofile">
                                <button class="btn btn-primary" type="button">
                                    Abrir Ficha
                                </button>
                            </div>

                        </div> <!--/ .Usuário -->

                    </div> <!--/ .Modal-Body -->

                    <!-- Modal-Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fechar Pesquisa</button>
                    </div> <!--/ .Modal-Footer -->

                </div> <!--/. Modal-Content -->

            </div> <!--/ .Modal-dialog -->

        </div> <!--/ .Modal -->

{% endblock content-base %}

