{% extends "administration/base.html" %}

{% block image-backgroud %}
    class="admin-full" ng-app="home" ng-controller="BuscarAluno"
{% endblock image-backgroud %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
{% endblock css %}

{% block js %}
    <script src="{{STATIC_URL}}js/libs/controllers.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>

    <script type="text/javascript">
        $('#myTab').tabCollapse();
    </script>
{% endblock js %}

{% block content-base %}

    {% include "administration/menu-vertical.html" %}
        <div class="container general-content"> <!-- general-content -->
            <div class="row-fluid"> <!-- row -->
                <div class="col-md-12"> <!-- col-md-12 -->

                    <ol class="breadcrumb admin-breadcrumb">
                    {% block breadcrumb %}
                        <li><a href="#">Dalton Moraes</a></li>
                        <li class="active">{{ usuario.username }}</li>
                    {% endblock breadcrumb  %}
                    </ol>

                    <div class="alert-message alert-message-info">
                        <button type="button" class="close close-message" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;Última Presença</h4>
                        <hr class="message-inner-separator">
                        <div class="row feedback">
                            <div class="col-md-6">
                                <strong class="feedback-information">Professor&nbsp;:</strong>&nbsp;&nbsp;Bruno Alexandre<br><br>
                                <strong class="feedback-information">Data&nbsp;/&nbsp;Hora&nbsp;:</strong>&nbsp;&nbsp;Terça-feira,&nbsp;25/03/2014&nbsp;-&nbsp;12:30
                            </div>
                            <div class="col-md-6">
                                <strong class="feedback-information">Treino&nbsp;:</strong>&nbsp;&nbsp;Treino A<br><br>
                                <strong class="feedback-information">Duração&nbsp;:</strong>&nbsp;&nbsp;45&nbsp;minutos
                            </div>
                        </div>
                    </div>

                    {% block content-ficha %}

                    {% endblock content-ficha %}

                    {% include "administration/menu-horizontal.html" %}
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.general-content -->

{% endblock content-base %}

