{% extends "core/base.html" %}

{% block image-backgroud %}
        class="admin-full" ng-app="home" ng-controller="BuscarAluno"
{% endblock image-backgroud %}

{% block css %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
{% endblock css %}

{% block js %}
        <script src="{{STATIC_URL}}js/libs/controllers.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>

        <script type="text/javascript">
            $('#myTab').tabCollapse();
        </script>
{% endblock js %}

{% block content-base %}

        <nav class="menubar">

            <div class="thumbnail brand">
                <div class="menu-brand">
                    <a href="#">Dalton Moraes</a>
                </div>
            </div>

            <div class="thumbnail profile text-center">
                <img src="holder.js/120x120" alt="" class="profile-img-user">
                <h4 class="profile-name-user">William Alonço</h4>  
                <div>
                    <p class="profile-information-user">
                        william-urias@hotmail.com<br>
                        (35) 9176-4917 
                    </p>
                    <p>
                        <a href="#" class="btn btn-danger profile-btn-close" role="button">Fechar Ficha</a>
                    </p>
                </div>
            </div>

            <div class="user-options">
                <ul>
                    <li><a href="#">Treinos</a></li>
                    <li><a href="#" class="active">Presenças</a></li>
                    <li><a href="#">Avaliações</a></li>
                </ul>
            </div>
            
            <div class="thumbnail search">
                <div class="link-search">
                    <a class="text" href="#success" data-toggle="modal" ng-click="buscar()"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;&nbsp;Abrir Ficha do Aluno</a>
                </div>
            </div>

        </nav>

        <div class="container treinos">
            <div class="row">
                <div class="col-md-12">
                    <!-- panel -->
                    <div class="panel panel-default">

                        <div class="panel-heading treinos-panel-heading">
                            Ficha de Treino
                        </div>

                        <div class="panel-body">

                            <!-- Nav Tabs -->
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#treino-a" data-toggle="tab">Treino A</a>
                                </li>
                                <li class="">
                                    <a href="#treino-b" data-toggle="tab">Treino B</a>
                                </li>
                                <li class="">
                                    <a href="#treino-c" data-toggle="tab">Treino C</a>
                                </li>
                                <li class="">
                                    <a href="#atividade-a" data-toggle="tab">Atividade A</a>
                                </li>
                                <li class="">
                                    <a href="#atividade-b" data-toggle="tab">Atividade B</a>
                                </li>
                            </ul>
                            <!-- /.Nav Tabs -->

                            <div id="myTabContent" class="tab-content">

                                <div class="tab-pane fade active in" id="treino-a">
                                    <!-- table-responsive -->
                                    <div class="table-responsive">
                                        <!-- table -->
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Exercício</th>
                                                    <th>Série</th>
                                                    <th>Repetição</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Supino Reto</td>
                                                    <td>4</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Rosca Direta</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Pullover</td>
                                                    <td>4</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Tríceps Corda</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Leg Press</td>
                                                    <td>3</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- table-responsive -->
                                </div>

                                <div class="tab-pane fade" id="treino-b">
                                    <!-- table-responsive -->
                                    <div class="table-responsive">
                                        <!-- table -->
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Exercício</th>
                                                    <th>Série</th>
                                                    <th>Repetição</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Tríceps Corda</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Supino Inclinado</td>
                                                    <td>4</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Rosca Cabo</td>
                                                    <td>3</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Tríceps Corda</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Leg Press</td>
                                                    <td>3</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->   
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>

                                <div class="tab-pane fade" id="treino-c">
                                    <!-- table-responsive -->
                                    <div class="table-responsive">
                                        <!-- table -->
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Exercício</th>
                                                    <th>Série</th>
                                                    <th>Repetição</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Rosca Halter</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Glúteo Máquina</td>
                                                    <td>3</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Rosca Cabo</td>
                                                    <td>4</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Peck Deck</td>
                                                    <td>3</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Supino Declinado</td>
                                                    <td>4</td>
                                                    <td>8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- table-responsive -->
                                </div>

                                <div class="tab-pane fade" id="atividade-a">
                                    <!-- table-responsive -->
                                    <div class="table-responsive">
                                        <!-- table -->
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Atividade A - Definir forma de exibição!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- table-responsive -->
                                </div>

                                <div class="tab-pane fade" id="atividade-b">
                                    <!-- table-responsive -->
                                    <div class="table-responsive">
                                        <!-- table -->
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Atividade B - Definir forma de exibição!</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- table-responsive -->
                                </div>

                            </div>
                        </div>

                        <div class="panel-footer treinos-panel-footer">
                            Panel footer
                        </div>

                    </div>
                    <!-- panel -->
                </div>
            </div>
        </div>

 <!-- barra antiga

        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">

                    <li class="sidebar-brand">
                        <a href="#">Dalton Moraes</a>
                    </li>

                    <div class="thumbnail text-center">
                        <img src="holder.js/120x120/sky" alt="" class="img-circle">
                        <h4 class="name-user">William Alonço</h4>  
                        <div class="caption">
                            <p class="information">
                                william-urias@hotmail.com<br>
                                (35) 9176-4917 
                            </p>
                            <p>
                                <a href="#" class="btn btn-danger" role="button">Fechar Ficha</a>
                            </p>
                        </div>
                    </div>

                    <li>
                        <a href="#">Treinos</a>
                    </li>
                    <li>
                        <a href="#">Presenças</a>
                    </li>
                    <li>
                        <a href="#">Avaliações</a>
                    </li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="page-content inset">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default"> 
                                    <div class="panel-heading"> 
                                        <div class="btn-group"> 
                                            <button type="button" class="btn btn-danger btn-sm">Trocar Ficha</button>
                                            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Ficha 1</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Ficha 2</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Ficha 3</a></li>
                                            </ul>
                                        </div> 
                                    </div> 
                                    <div class="panel-body"
                                        <h1>Ficha de Treinos e menus</h1>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                </div>
            </div>
        </div> -->

        <!--
        <nav class="navbar navbar-inverse navbar-fixed-bottom admin-navbar-bottom" role="navigation">
            
            <div class="container-fluid">
                
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-admin-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand admin-navbar-search" href="#success" data-toggle="modal" ng-click="buscar()">
                        <button type="button" class="btn btn-primary admin-btn-search">Abrir Ficha do Aluno</button>
                    </a> 
                </div> 
                
                <div class="collapse navbar-collapse navbar-admin-collapse">
                    
                    <ul class="nav navbar-nav navbar-left admin-navbar-assets">
                        <li>
                            <a href="#">Aluno 1 <span class="badge admin-badge-assets">T</span></a>
                        </li>
                        <li>
                            <a href="#">Aluno 2 <span class="badge admin-badge-assets">T</span></a>
                        </li>
                        <li>
                            <a href="#">Aluno 3 <span class="badge admin-badge-assets">T</span></a>
                        </li>
          
                    </ul> 
                    
                    <ul class="nav navbar-nav navbar-right admin-navbar-logout">
                        <li>
                            <a href="#">Bruno <span class="badge admin-badge-logout">5</span></a>
                        </li>
                        <li>
                            <a href="#">Sair do Sistema</a>
                        </li>
                    </ul> 
                </div> 
            </div> 
        </nav> -->
        
        <!-- Modal -->
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <!-- Modal-Dialog -->
            <div class="modal-dialog">

                <!-- Modal-Content -->
                <div class="modal-content">

                    <!-- Modal-Header -->
                    <div class="modal-header admin-modal-header">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Digite o nome do aluno" ng-model="searchText" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" >
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/ .Modal-Header -->
                    
                    <!-- Modal-Body -->
                    <div class="modal-body">

                       
                        <!-- Usuário -->
                       
                        <img class="center-block"  src="{{STATIC_URL}}img/buscando.gif" ng-show="loading" >
                        
                        <div class="row admin-user-search" ng-repeat="usuario in usuarios | filter:searchText track by usuario.username">



                            <div class="col-xs-3 text-center">
                                <img ng-src="{{ MEDIA_URL }}[[usuario.perfil.image]]" alt="" class="img-responsive img-circle">
                            </div>
                        
                            <div class="col-xs-3 admin-user-name">
                                <strong>[[usuario.username]]</strong>
                            </div>

                            <div class="col-xs-3 admin-user-category">
                                <span class="text-muted">[[usuario.perfil.level]]</span>
                            </div>

                            <div class="col-xs-3 admin-user-viewprofile">
                                <button class="btn btn-primary" type="button">
                                    Abrir Ficha
                                </button>
                            </div>

                        </div> <!--/ .Usuário -->

                    </div> <!--/ .Modal-Body -->

                    <!-- Modal-Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left search-btn-close" data-dismiss="modal">Fechar Pesquisa</button>
                    </div> <!--/ .Modal-Footer -->

                </div> <!--/. Modal-Content -->

            </div> <!--/ .Modal-dialog -->

        </div> <!--/ .Modal -->

{% endblock content-base %}

