{% extends "administration/base.html" %}

{% block image-backgroud %}
    class="login-full"
{% endblock image-backgroud %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
{% endblock css %}

{% block content-base %}

        <div class="container">
            <div class="row vertical-offset-100 login-vertical-offset">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel login-panel">
                        <div class="panel-heading text-center">
                            <img src="holder.js/150x50" alt="">
                        </div>
                        <div class="panel-body">

                            <form accept-charset="UTF-8" role="form" action="{% url 'login' %}" method="post" >
                            <fieldset>

                                <div class="form-group">
                                    {% csrf_token %}
                                </div>

                                <div class="form-group">
                                    <input class="form-control login-input" placeholder="Nome do usuário" name="username" type="text" required>
                                </div>

                                <div class="form-group">
                                    <input class="form-control login-input" placeholder="Senha" name="password" type="password" required>
                                </div>

                                <input class="btn btn-lg btn-success btn-block login-btn" type="submit" value="Fazer Login">

                            </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content-base %}
