                    <!-- nav -->
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- navbar-header -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> <!-- /.navbar-header -->

                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <!-- navbar-nav -->
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">
                                        <img src="http://www.ucarecdn.com/3922c3af-f159-47cc-883a-dd7ce11ec1b9/-/scale_crop/40x40/center/-/effect/grayscale/" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="http://www.ucarecdn.com/1d15d7fd-2b7a-43bc-a8d2-9f48bc06ac7e/-/scale_crop/40x40/center/-/effect/grayscale/" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="http://www.ucarecdn.com/18098af9-b6d3-4f0c-8427-9f5a6af98692/-/crop/480x486/0,154/-/scale_crop/40x40/center/-/effect/grayscale/" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="http://www.ucarecdn.com/48e1d870-cbd1-44d2-9b4a-813a28e3525d/-/crop/209x243/525,451/-/scale_crop/40x40/center/" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="http://www.ucarecdn.com/30241113-e375-47c7-bbb2-7138d057d1fc/-/crop/212x258/76,0/-/scale_crop/40x40/center/-/effect/grayscale/" alt="" class="user-active img-circle">
                                    </a>
                                </li>

                            </ul> <!-- /.navbar-nav -->

                            <!-- navbar-logout -->
                            <ul class="nav navbar-nav navbar-right admin-navbar-logout">
                                <li>
                                    <a href="#">Bruno <span class="badge admin-badge-logout">5</span></a>
                                </li>
                                <li>
                                    <a href="#">Sair do Sistema</a>
                                </li>
                            </ul> <!-- /.navbar-logout -->
                        </div><!-- /.navbar-collapse -->
                    </nav>
                     <!-- /.nav -->
