                    <!-- nav -->
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- navbar-header -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> <!-- /.navbar-header -->

                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <!-- navbar-nav -->
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="holder.js/40x40" alt="" class="user-active img-circle">
                                    </a>
                                </li>
                            </ul> <!-- /.navbar-nav -->

                            <!-- navbar-logout -->
                            <ul class="nav navbar-nav navbar-right admin-navbar-logout">
                                <li>
                                    <a href="#">Bruno <span class="badge admin-badge-logout">5</span></a>
                                </li>
                                <li>
                                    <a href="#">Sair do Sistema</a>
                                </li>
                            </ul> <!-- /.navbar-logout -->
                        </div><!-- /.navbar-collapse -->
                    </nav>
                     <!-- /.nav -->
