<div class="admin-navbar-footer"> <!-- admin-navbar-footer -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom admin-navbar" role="navigation"> <!-- admin-navbar -->
        <div class="navbar-header"> <!-- navbar-header -->
            <button type="button" class="navbar-toggle admin-navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only"></span>
                <span class="glyphicon glyphicon-user admin-navbar-toggle-icon"></span>
            </button>
        </div> <!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse"> <!-- collapse -->
            <ul class="nav navbar-nav admin-nav-users text-center"> <!-- admin-nav-users -->
                <li> <!-- admin-nav-search -->
                    <a class="text admin-nav-search" href="#success" data-toggle="modal"  ng-click="reset()">
                        <span class="flaticon-magnifier13 admin-nav-search"></span>
                    </a>
                </li> <!-- /.admin-nav-search -->
                {% for item in menu %}
                <li>
                    <a href="{% url 'perfil-detail' item.aluno.pk %}">
                        <img src="{{ item.imagem }}-/scale_crop/40x40/center/-/effect/grayscale/" alt="" class="admin-nav-users-active img-circle">
                    </a>
                </li>
                {% endfor %}
            </ul> <!-- /.admin-nav-users -->
        </div><!-- /.collapse -->
    </nav> <!-- /.admin-navbar -->
</div> <!-- /.admin-navbar-footer -->

{% include "administration/modal-buscar-aluno.html" %}

