<nav class="menubar">
    <!-- Logotipo
    <div class="admin-nav-brand">
        <ul>
            <li>
                <a href="#">Dalton Moraes</a>
            </li>
        </ul>
    </div> -->
    <div class="thumbnail admin-nav-profile text-center"> <!-- admin-nav-profile -->
        <img    {% if  usuario.aluno.perfil.image %}
                    src="{{ usuario.aluno.perfil.image }}-/scale_crop/120x120/center/"
                {% else %}
                    src="holder.js/120x120/"
                {% endif %}
        alt="" class="admin-nav-profile-img-user img-circle"> <!-- /.admin-nav-profile-img-user -->
        <h4 class="admin-nav-profile-name-user">{{ usuario.aluno.username }}</h4> <!-- /.admin-nav-profile-name-user -->
        <div>
            <p class="admin-nav-profile-information-user"> <!-- admin-nav-profile-information-user -->
                {{ usuario.aluno.email }}<br>
                {{ usuario.aluno.phone }}
            </p> <!-- /.admin-nav-profile-information-user -->
        </div>

        {% if request.user != usuario.aluno %}
        <div class="closing-record"> <!-- closing-record -->
            <a href="{% url 'fechar-ficha' usuario.aluno.pk %}">
                <button type="button" class="btn btn-danger btn-xs btn-close-record">Fechar Ficha</button>
            </a> <!-- /.closing-record -->
        </div>
        {% endif %}

    </div> <!-- /.admin-nav-profile -->
    <div class="admin-nav-user"> <!-- admin-nav-user -->
        <ul>
            <li>
                <a href="{% url 'list-treinos' usuario.aluno.pk %}" class="{% if urlname == 'list-treinos'%}active{% endif %}">Consultar Treinos</a>
            </li>

             <li>
                <a  href="{% url 'treinamento' usuario.aluno.pk %}" class="{% if usuario.treinando %}link-training
                {% endif %}{% if urlname == 'treinamento'%}active{% endif %}">Treinamento Iniciados</a>
            </li>

            <li>
                <a href="{% url 'list-presencas' usuario.aluno.pk %}" class="{% if urlname == 'list-presencas'%}active{% endif %}">Presenças</a>
            </li>
        </ul>
    </div> <!-- /.admin-nav-user -->
    
    <div class="panel panel-default start-training">
        <div class="panel-heading start-training-heading text-center">
            <span class="start-training-title">Treinamento</span>
        </div>
        <div class="panel-body start-training-body text-center">
            <span class="start-training-stopwatch">00:00</span>
        </div>
        <div class="panel-footer start-training-footer text-center"> 
            <a class="start-training-play" href="#startModal" data-toggle="modal">
                <span class="glyphicon glyphicon-play"></span>
                &nbsp;Iniciar
            </a>
        </div>

        <!-- Finalizar Treino
        <div class="panel-footer stop-training-footer text-center">
            <a class="start-training-play" href="#stopModal" data-toggle="modal"><span class="glyphicon glyphicon-stop"></span>&nbsp;Finalizar</a>
        </div>
        -->

    </div>

    <!-- Fechar Ficha
    {% if request.user != usuario.aluno %}
    <div class="closing-record">
        <a href="{% url 'fechar-ficha' usuario.aluno.pk %}">
            <button type="button" class="btn btn-danger btn-sm btn-close-record">Fechar Ficha</button>
        </a>
    </div>
    {% endif %} -->

    <!-- Área do Professor
    <div class="thumbnail admin-vertical-instructor"> 
        <div class="admin-vertical-instructor-active"> 
            <div class="admin-vertical-notifications">3</div> 
            <a href="{% url 'perfil-detail' usuario.professor.pk %}" class="admin-vertical-link-instructor"> 
                <img  {% if  user.perfil.image %}
                    src="{{ user.perfil.image }}-/scale_crop/40x40/center/"
                {% else %}
                    src="holder.js/40x40/text:{{ user.username }} "
                {% endif %}
             alt=""  class="img-circle">
            </a> 
            <a href="{% url 'fechar-ficha' user.pk %}" class="admin-vertical-link-logout" ng-click="window.alert('la')">Sair do Sistema</a> 
        </div> 
    </div> -->
</nav>

    <!-- Modal Iniciar -->
    <div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Último Treino</h4>
                </div>

                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur adipisci impedit enim incidunt maiores harum non praesentium! Fugit placeat quos voluptatum hic dicta aperiam porro harum fuga sapiente quis.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.Modal Iniciar -->

    <!-- Modal Feedback -->
    <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Feedback do Treino</h4>
                </div>

                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quibusdam commodi magni officiis corporis laudantium aut distinctio fugiat qui temporibus sint ab eligendi alias nihil rem aspernatur dolore voluptatem magnam.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.Modal Feedback -->
