<nav class="menubar"> <!-- menubar -->
    <div class="thumbnail nav-profile text-center"> <!-- nav-profile -->
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">
            <img    {% if  usuario.aluno.perfil.image %}
                        src="{{ usuario.aluno.perfil.image }}-/scale_crop/120x120/center/"
                    {% else %}
                        src="holder.js/120x120/"
                    {% endif %}
            alt="" class="nav-profile-img-user
            {% if usuario.treinando %}
                nav-profile-img-user-active
            {% else %}
                nav-profile-img-user-noactive
            {% endif %} img-circle"> <!-- ./nav-profile-img-user -->
        </a>
        <a href="#" class="nav-name-user" id="popoverId" data-placement="right">Ficha - {{ usuario.aluno.username }}</a> <!-- /.nav-name-user -->
        <div id="popoverContent" class="hide">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;
            <span class="profile-mail">{{ usuario.aluno.email }}</span><br>
            <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;
            <span class="profile-phone">{{ usuario.aluno.perfil.phone }}</span>
        </div>
        <div class="nav-information-user"> <!-- nav-information-user -->
            <span class="information-user">Data de Início:&nbsp;24/06/2014</span><br> <!-- /.information-user -->
            <span class="information-user">Data de Fim:&nbsp;24/09/2014</span><br> <!-- /.information-user -->
            <span class="information-user">Objetivo:&nbsp;Perda de peso</span> <!-- /.information-user -->
        </div> <!-- /.nav-information-user -->
        {% if request.user != usuario.aluno %}
        <a href="{% url 'fechar-ficha' usuario.aluno.pk %}">
            <button type="button" class="btn btn-danger btn-xs bt-close-record">Fechar Ficha</button> <!-- /.bt-close-record -->
        </a>
        {% endif %}
    </div> <!-- /.nav-profile -->
    <div class="nav-menu"> <!-- nav-menu -->
        <ul>
        {% comment %}
            <li>
                <a href="{% url 'perfil-detail' usuario.aluno.pk %}" class="{% if urlname == 'perfil-detail'%}active{% endif %}">Perfil</a>
            </li>
        {% endcomment %}
            <li>
                <a href="{% url 'list-treinos' usuario.aluno.pk %}" class="{% if urlname == 'list-treinos'%}active{% endif %}">Consultar Treinos</a>
            </li>
            <li>
                <a href="{% url 'list-presencas' usuario.aluno.pk %}" class="{% if urlname == 'list-presencas'%}active{% endif %}">Relatório de Presenças</a>
            </li>
        </ul>
    </div> <!-- /.nav-menu -->
    <div class="panel panel-default content-timer"> <!-- content-timer -->
        <div class="panel-footer content-play text-center"> <!-- content-training -->
        {% if not usuario.treinando %}
            <a class="start-training-play" href="#startModal" data-toggle="modal" ng-click="listTreinos({{ usuario.aluno.pk}},'{{usuario.aluno.username}}')">
                <i class="glyphicon glyphicon-play"></i>
                <span>Treinar</span>
            </a> <!-- /.start-training-play -->
        {% else %}
            <a class="start-training-play" href="{% url 'treinamento' usuario.aluno.pk %}" data-toggle="modal">
                &nbsp;{{ usuario.treino.nome }}
            </a> <!-- /.start-training-play -->
        {% endif %}
        </div> <!-- /.content-training -->
        <div class="panel-footer content-stopwatch text-center"> <!-- timer-training -->
            <span {% if usuario.treinando %} id="timer" {% endif %} class="stopwatch">00:00</span> <!-- stopwatch -->
        </div> <!-- /.timer-training -->
    </div> <!-- /.content-timer -->
</nav> <!-- /.menubar -->



