<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- modal -->
        <div class="modal-dialog"> <!-- modal-dialog -->
            <div class="modal-content modal-start-size"> <!-- modal-start-size -->
                <div class="modal-header modal-start-header"> <!-- modal-start-header -->
                    <h4 class="modal-title modal-start-title">Iniciar Treinamento</h4> <!-- /.modal-start-title -->
                </div> <!-- /.modal-start-header -->
                <div class="modal-body"> <!-- modal-body -->
                    <div class="alert alert-info modal-last-presence"> <!-- modal-last-presence -->
                        <h4 class="title-last-presence">Último Treino Realizado!</h4><hr class="modal-line-last-presence"> <!-- /.modal-line-last-presence -->
                        <i class="glyphicon glyphicon-calendar gl-calendar"></i>&nbsp;
                        <span class="modal-options">[[presenca.0.data]]</span><br> <!-- /.modal-options -->
                        <i class="glyphicon glyphicon-ok gl-ok"></i>&nbsp;
                        <span class="modal-options">[[presenca.0.treino.nome]]</span> <!-- /.modal-options -->
                    </div> <!-- /.modal-last-presence -->
                    <ul class="nav nav-pills nav-justified thumbnail modal-start-thumbnail setup-panel" ng-repeat="treino in treinos"> <!-- modal-start-thumbnail -->
                        <li class="disabled">
                            <a>
                                <h4 class="list-group-item-heading">[[treino.nome]]</h4> <!-- /.list-group-item-heading -->
                            </a>
                        </li>
                        <li class="active">
                            <a href="/perfil/{{ usuario.aluno.pk }}/treinos/treinar/[[treino.id]]">
                                <span class="glyphicon glyphicon-play"></span>
                                <span class="train">Treinar</span> <!-- /.train -->
                            </a>
                        </li>
                    </ul> <!-- /.modal-start-thumbnail -->
                </div> <!-- /.modal-body -->
                <div class="modal-footer start-back"> <!-- start-back -->
                    <button type="button" class="btn btn-primary modal-close-training pull-left" data-dismiss="modal">Fechar</button> <!-- /.modal-close-training -->
                </div> <!-- /.start-back -->
            </div> <!-- /.modal-start-size -->
        </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
