    <!-- Modal Feedback -->
    <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content feedback-size">

                <div class="modal-header feedback-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title feedback-title" id="myModalLabel">Finalizar Treinamento</h4>
                </div>

                <div class="modal-body">
                    <textarea class="form-control workout-feedback" rows="4" placeholder="Feedback do Treino"></textarea>
                </div>

                <div class="modal-footer feedback-footer">
                    <a type="button" href="{% url 'finalizar-treinamento' usuario.aluno.pk %}" class="btn btn-danger pull-left feedback-btn">Finalizar Treinamento</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /.Modal Feedback -->
