    <!-- Modal Feedback -->
    <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content feedback-size">

                <form action="{% url 'finalizar-treinamento' usuario.aluno.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header feedback-modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title feedback-title" id="myModalLabel">Finalizar Treinamento</h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="usuario" value="{{ usuario.aluno.pk }}">
                        <input type="hidden" name="nota" ng-value="rate">
                        <textarea class="form-control workout-feedback" name="feedback" rows="4" placeholder="Feedback do Treino"></textarea>
                        <div fundoo-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)" class="pull-right"></div></br>
                    </div>

                    <div class="modal-footer feedback-footer">
                        <button type="submit"  type="button" class="btn btn-danger pull-left feedback-btn">Finalizar Treinamento</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /.Modal Feedback -->
