 <!-- Modal Feedback -->
    <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Feedback do Treino</h4>
                </div>

                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quibusdam commodi magni officiis corporis laudantium aut distinctio fugiat qui temporibus sint ab eligendi alias nihil rem aspernatur dolore voluptatem magnam.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left stop-btn-close" data-dismiss="modal">Fechar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.Modal Feedback -->
