<!-- Modal -->
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <!-- Modal-Dialog -->
            <div class="modal-dialog">

                <!-- Modal-Content -->
                <div class="modal-content">

                    <!-- Modal-Header -->
                    <div class="modal-header admin-modal-header">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Digite o nome do aluno" ng-model="searchText" ng-keydown="enter($event)" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"  ng-click="buscar()" >
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div> <!--/ .Modal-Header -->

                    <!-- Modal-Body -->
                    <div class="modal-body">

                        <!-- no user found -->
                        <div class="alert alert-info conta" ng-show="informar">
                            Nenhum usuário encontrado com a busca: <strong>[[searchText]]</strong>
                        </div> <!-- /.no user found -->

                        <!-- Usuário -->

                        <img class="center-block"  src="{{STATIC_URL}}img/buscando.gif" ng-show="loading" >

                        {% for item in menu %}
                        <div class="row admin-user-search">
                            <div class="col-xs-3 text-center">
                                <img src="{{ item.imagem }}-/scale_crop/60x60/center/" alt="" class="img-responsive img-circle">
                            </div>

                            <div class="col-xs-3 admin-user-name">
                                <strong>{{ item.aluno.username }}</strong>
                            </div>

                            <div class="col-xs-3 admin-user-category">
                                <span class="text-muted">Ficha Aberta</span>
                            </div>

                            <div class="col-xs-3 admin-user-viewprofile">

                                        <a href="{% url 'fechar-treino' item.aluno.pk %}" class="btn btn-danger "  >
                                            Fechar Ficha
                                        </a>
                                </form>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row admin-user-search" ng-repeat="usuario in usuarios ">



                            <div class="col-xs-3 text-center">
                                <img ng-src="[[usuario.perfil.image]]-/scale_crop/60x60/center/" alt="" class="img-responsive img-circle">
                            </div>

                            <div class="col-xs-3 admin-user-name">
                                <strong>[[usuario.username]]</strong>
                            </div>

                            <div class="col-xs-3 admin-user-category">
                                <span class="text-muted">[[usuario.perfil.level]]</span>
                            </div>

                            <div class="col-xs-3 admin-user-viewprofile">

                                        <a href="/perfil/abrir/[[usuario.id]]/" class="btn btn-primary"   >
                                            Abrir Ficha
                                        </a>
                                </form>
                            </div>

                        </div> <!--/ .Usuário -->

                    </div> <!--/ .Modal-Body -->

                    <!-- Modal-Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left search-btn-close" data-dismiss="modal">Fechar Pesquisa</button>
                    </div> <!--/ .Modal-Footer -->

                </div> <!--/. Modal-Content -->

            </div> <!--/ .Modal-dialog -->

        </div>
 <!--/ .Modal -->
