{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Presenças</li>

{% endblock breadcrumb  %}

{% block content-ficha %}

    <div class="panel">
        <div class="panel-body">

        {% if usuario.aluno.presencas.all%}
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                            <tr class="active">
                                <th width="25%" class="title-presence">Data e Hora do Início do Treino</th>
                                <th width="15%" class="title-presence">Duração do Treino</th>
                                <th width="15%" class="title-presence">Treino Executado</th>
                                <th width="20%" class="title-presence">Professor Responsável</th>
                                <th width="25%" class="title-presence">FeedBack</th>
                            </tr>

                        {% for presenca in usuario.aluno.presencas.all %}

                            <tr>
                                <td>{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</td>
                                <td>{{ presenca.duracao }} min</td>
                                <td>{{ presenca.treino }}</td>
                                <td>{{ presenca.professor }}</td>
                                <td>
                                    <a href="#" id="popoverFeed" data-placement="bottom">
                                        {{ presenca.feedback|truncatewords:5}}
                                    </a>
                                    <div id="popoverContentFeed" class="hide">
                                        {{ presenca.feedback }}
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>

            <div class="col-md-12 text-right">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                </ul>
            </div>
        </div>

        {% else %}

        <div class="alert-message alert-message-no-presence">
            <button type="button" class="close close-message" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <strong class="no-presence">Sem&nbsp;Presença!</strong>&nbsp;Este&nbsp;aluno&nbsp;não&nbsp;possui&nbsp;nenhuma&nbsp;presença.
        </div>

        {% endif %}

    </div>

{% endblock content-ficha %}
