{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Presenças</li>

{% endblock breadcrumb  %}

{% block content-ficha %}
        <div class="panel-body"> <!-- panel-body -->
            <ul class="timeline"> <!-- timeline -->

            {% for presenca in usuario.aluno.presencas.all %}

                {% if not forloop.counter|divisibleby:"2" %}

                <li> <!-- timeline-left -->
                    <div class="timeline-badge"> <!-- timeline-badge -->
                        <span>{{ presenca.treino }}</span>
                    </div> <!-- /.timeline-badge -->
                    <div class="timeline-panel"> <!-- timeline-panel -->
                        <div class="row">
                            <div class="col-md-6">
                                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</span><br>
                                <i class="glyphicon glyphicon-time"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.duracao }} Minutos</span><br>
                                <i class="glyphicon glyphicon-user"></i>&nbsp;
                                <span class="timeline-title">Professor - {{ presenca.professor }}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="timeline-body"> <!-- timeline-body -->
                            <small class="{{ presenca.feedback|yesno:"timeline-feedback,timeline-feedback-empty," }}">{% if presenca.feedback  %} {{ presenca.feedback }}  {% else %} Sem comentários  {% endif %}</small>
                        </div> <!-- /.timeline-body -->
                    </div> <!-- /.timeline-panel -->
                </li> <!-- /.timeline-left -->

                {% else %}

                <li class="timeline-inverted"> <!-- timeline-right -->
                    <div class="timeline-badge"> <!-- timeline-badge -->
                        <span>{{ presenca.treino }}</span>
                    </div> <!-- /.timeline-badge -->
                    <div class="timeline-panel"> <!-- timeline-panel -->
                        <div class="row">
                            <div class="col-md-6">
                                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</span><br>
                                <i class="glyphicon glyphicon-time"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.duracao }} Minutos</span><br>
                                <i class="glyphicon glyphicon-user"></i>&nbsp;
                                <span class="timeline-title">Professor - {{ presenca.professor}}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                 <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="timeline-body"> <!-- timeline-body -->
                           <small class="{{ presenca.feedback|yesno:"timeline-feedback,timeline-feedback-empty," }}">{% if presenca.feedback  %} {{ presenca.feedback }}  {% else %} Sem comentários  {% endif %}</small>
                        </div> <!-- /.timeline-body -->
                    </div> <!-- /.timeline-panel -->
                </li> <!-- /.timeline-right -->

                {% endif %}

            {% endfor %}

            </ul> <!-- /.timeline -->
        </div> <!-- /.panel-body -->
        <br><br><br><br>
        
{% endblock content-ficha %}
