{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Presenças</li>

{% endblock breadcrumb  %}

{% block content-ficha %}
        <div class="panel-body"> <!-- panel-body -->
            <ul class="timeline"> <!-- timeline -->

            {% for presenca in usuario.aluno.presencas.all %}

                {% if not forloop.counter|divisibleby:"2" %}

                <li> <!-- timeline-left -->
                    <div class="timeline-badge"> <!-- timeline-badge -->
                        <span>{{ presenca.treino }}</span>
                    </div> <!-- /.timeline-badge -->
                    <div class="timeline-panel"> <!-- timeline-panel -->
                        <div class="row">
                            <div class="col-md-6">
                                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</span><br>
                                <i class="glyphicon glyphicon-time"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.duracao }} Minutos</span><br>
                                <i class="glyphicon glyphicon-user"></i>&nbsp;
                                <span class="timeline-title">Professor - {{ presenca.professor }}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="timeline-body"> <!-- timeline-body -->
                            <small class="timeline-feedback">{{ presenca.feedback}}</small>
                        </div> <!-- /.timeline-body -->
                    </div> <!-- /.timeline-panel -->
                </li> <!-- /.timeline-left -->

                {% else %}

                <li class="timeline-inverted"> <!-- timeline-right -->
                    <div class="timeline-badge"> <!-- timeline-badge -->
                        <span>{{ presenca.treino }}</span>
                    </div> <!-- /.timeline-badge -->
                    <div class="timeline-panel"> <!-- timeline-panel -->
                        <div class="row">
                            <div class="col-md-6">
                                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</span><br>
                                <i class="glyphicon glyphicon-time"></i>&nbsp;
                                <span class="timeline-title">{{ presenca.duracao }} Minutos</span><br>
                                <i class="glyphicon glyphicon-user"></i>&nbsp;
                                <span class="timeline-title">Professor - {{ presenca.professor}}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                 <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="timeline-body"> <!-- timeline-body -->
                        <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                        <small class="timeline-feedback">{{ presenca.feedback}}</small>
                        </div> <!-- /.timeline-body -->
                    </div> <!-- /.timeline-panel -->
                </li> <!-- /.timeline-right -->

                {% endif %}

            {% endfor %}

            </ul> <!-- /.timeline -->
        </div> <!-- /.panel-body -->
        <br><br><br><br>

    <!-- Presenças em tabela
    <div class="panel panel-primary presence-content">
        <div class="panel-body">
            {% if usuario.aluno.presencas.all%}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr class="presence-header">
                        <th width="16,666666667%" class="presence-options">Data e Hora do Treino</th>
                        <th width="16,666666667%" class="presence-options">Duração</th>
                        <th width="16,666666667%" class="presence-options">Treino Executado</th>
                        <th width="16,666666667%" class="presence-options">Professor</th>
                        <th width="16,666666667%" class="presence-options">FeedBack</th>
                        <th width="16,666666667%" class="presence-options">Nota</th>
                    </tr>
                    {% for presenca in usuario.aluno.presencas.all %}
                    <tr>
                        <td class="presence-options-content">{{ presenca.data_inicio|date:"l d/n/Y G:i" }}</td>
                        <td class="presence-options-content">{{ presenca.duracao }} min</td>
                        <td class="presence-options-content">{{ presenca.treino }}</td>
                        <td class="presence-options-content">{{ presenca.professor }}</td>
                        <td class="presence-options-content">
                            <a href="#" id="popoverFeed" data-placement="bottom">
                                {{ presenca.feedback|truncatewords:0}}
                            </a>
                            <div id="popoverContentFeed" class="hide">
                                {{ presenca.feedback }}
                            </div>
                        </td>
                        <td>
                            <div fundoo-rating rating-value="{{ presenca.nota }}" max="5" readonly="true"></div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-12 text-right">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                </ul>
            </div>
        </div>
            {% else %}
        <div class="alert-message alert-message-no-presence">
            <button type="button" class="close close-message" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <strong class="no-presence">Sem&nbsp;Presença!</strong>&nbsp;Este&nbsp;aluno&nbsp;não&nbsp;possui&nbsp;nenhuma&nbsp;presença.
        </div>
            {% endif %}
    </div>
    -->

{% endblock content-ficha %}
