{% extends "administration/admin-base.html" %}

{% block alerta %}
{% if alerta %}

    <div class="alert alert-info alermsg-record"> <!-- alermsg-record -->
    	<span class="alertmsg-closing-record">Fechar Ficha!</span> <!-- /.alertmsg-closing-record -->
    	<span class="alermsg-student-training">{{ alerta }}</span> <!-- /.alermsg-student-training -->
    </div> <!-- /.alermsg-presence -->

{% endif %}
{% endblock alerta %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-nav-active">{{ usuario.aluno.username }}</li>
{% endblock breadcrumb  %}

{% comment %}

{% block content-ficha %}
	<h1>Usuário - {{ usuario.aluno.username}}</h1>
{% endblock content-ficha %}

{% endcomment %}