{% extends "administration/admin-base.html" %}

{% block alerta %}
{% if alerta %}

    <div class="alert-message alert-message-registering-training">
    <span class="glyphicon glyphicon-ban-circle"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Fechar Ficha!</strong>&nbsp;&nbsp;  <strong>{{ alerta }}</strong>.
    </div>


{% endif %}

{% endblock alerta %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-nav-active">{{ usuario.aluno.username }}</li>
{% endblock breadcrumb  %}

{% block content-ficha %}
        <h1>usuário -  {{ usuario.aluno.username}} </h1>
{% endblock content-ficha %}
