{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Treinos</li>
{% endblock breadcrumb  %}

{% block content-ficha %}

    {% with  fichas=usuario.aluno.fichas.all fichaaluno=usuario.ficha  %}
        <!--
        <div class="btn-group swap-sheet-group">
            <button type="button" class="btn btn-default swap-sheet dropdown-toggle" data-toggle="dropdown"><span class="sheet-text">
            {% for ficha in fichas %}
                {% if ficha.pk == fichaaluno.pk %}
                    Ficha {{ forloop.revcounter }}
                {% endif %}
            {% endfor %}</span>&nbsp;&nbsp;
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu sheet-drop" role="menu">
            {% for fichatrocar in fichas %}

                {% if fichatrocar.pk != fichaaluno.pk %}

                    <li>
                        <a href="{% url 'trocar-ficha' usuario.aluno.pk fichatrocar.pk %}"> Ficha {{forloop.revcounter}} </a>
                    </li>

                    <li class="divider"></li>


                {% endif %}

            {% endfor %}
            </ul>
        </div> -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-right exibition">
                        <a class="icon-exibition" ng-click="tab=true; tabela=false;"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Lista</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="icon-exibition" ng-click="tab=false; tabela=true;" ><span class="glyphicon glyphicon-list"></span>&nbsp;Tabela</a>
                    </div>
                </div>
            </div>

            <div class="panel-body">

    {% endwith %}

                    {% with  treinos=usuario.ficha.treinos.all %}

                        <div class="panel-group all-training" id="accordion" ng-init="tab=true" ng-show="tab" ng-cloak>

                            {% for treino in treinos %}

                                <div class="panel panel-default"> <!--panel -->
                                    <div class="panel-heading heading-panel-training{% if forloop.first %}{% endif %}"> <!-- panel-heading -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#treino-{{ treino.pk }}">{{ treino.nome }}</a>
                                            </div>
                                        </div>
                                    </div> <!-- /.panel-heading -->
                                    <div id="treino-{{ treino.pk }}" class="panel-collapse collapse"> <!-- panel-collapse -->
                                        <div class="panel-body"> <!-- panel-body -->

                                            <div class="col-md-12">

                                                <ul id="myTab" class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#exercicios-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Exercícios</h4></a>
                                                    </li>
                                                    <!-- Presenças do Treino
                                                    <li>
                                                        <a href="#presencas-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Presenças</h4></a>
                                                    </li>
                                                    -->
                                                    <!-- Gráficos do Treino
                                                    <li>
                                                        <a href="#graficos-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Gráficos</h4></a>
                                                    </li>
                                                    -->
                                                </ul>

                                                <div id="myTabContent" class="tab-content">
                                                    <div class="tab-pane fade active in" id="exercicios-treino-{{ treino.pk }}">
                                                        <div class="table-responsive">
                                                            <div class="col-xs-12">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="20%" class="options-record-header text-center">Ordem</th>
                                                                            <th width="20%">Exercício</th>
                                                                            <th width="20%" class="text-center">Série</th>
                                                                            <th width="20%" class="text-center">Repetição</th>
                                                                            <th width="20%" class="text-center">Peso</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        {% for exerc in treino.exercicios.all %}

                                                                        <tr>
                                                                            <td class="text-center">{{forloop.counter}}</td>
                                                                            <td>{{ exerc.nome }}</td>
                                                                            <td class="text-center">{{ exerc.serie}}</td>
                                                                            <td class="text-center">{{ exerc.repeticao}}</td>
                                                                            <td class="text-center">{{ exerc.peso}}</td>
                                                                        </tr>

                                                                        {% endfor %}

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Presenças do Treino
                                                    <div class="tab-pane" id="presencas-treino-{{ treino.pk }}">
                                                        <div class="table-responsive">
                                                            <div class="col-xs-12">
                                                                <h1>Presenças  do  {{ treino.nome }}</h1>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ut quas nesciunt pariatur sapiente dicta alias. Minus, quas vitae commodi praesentium vero suscipit impedit. Eum, voluptate facilis libero fugiat eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, debitis nesciunt earum! Aliquid obcaecati ullam nemo natus eos. Voluptas quo laborum optio praesentium sequi dolor labore id explicabo fuga quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, cumque, suscipit aliquid excepturi placeat asperiores unde qui sequi dolore voluptatem eligendi nam beatae nemo sed nobis repellat iste. Mollitia, quaerat.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    -->

                                                    <!-- Gráficos do Treino
                                                    <div class="tab-pane" id="graficos-treino-{{ treino.pk }}">
                                                        <div class="table-responsive">
                                                            <div class="col-xs-12">
                                                                <h1>Gráficos do {{ treino.nome }}</h1>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, ullam, voluptatibus, odit, est doloremque ducimus possimus voluptate dolore deleniti cum explicabo modi debitis voluptates animi labore cumque mollitia et error! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, odio, earum, magnam corporis vero cupiditate vel natus iure eaque incidunt inventore quaerat adipisci assumenda placeat repellat tempore amet tenetur sequi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, vero ipsum asperiores modi. Voluptatum, aliquam eius dolorem rerum tempore reprehenderit molestias magnam sint iure harum veritatis cum fugiat iusto unde.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    -->

                                                </div>
                                            </div> <!-- /.col-md-12 -->
                                        </div> <!-- /.panel-body -->
                                    </div> <!-- /.panel-collapse -->
                                </div> <!-- /.panel -->

                                {% empty %}

                                <div class="alert alert-info alermsg-registering-training">
                                    <a href="/admin/training/treinos/add/" class="alertmsg-link-registering-training" target="_blank">Cadastrar Treino!</a>
                                    <span class="alermsg-info-registering-training">Não há nenhum treino cadastrado para o usuário:</span>
                                    <a href="#" class="alertmsg-link-registering-training">{{ usuario.aluno.username }}</a>
                                </div>

                                {% endfor %}
                        </div>

                        <div ng-show="tabela" ng-cloak>

                                <div class="table-responsive all-training"> <!-- table-responsive -->

                                {% for treino in treinos %}

                                    <table class="table table-bordered"> <!-- /.table -->
                                            <tr>
                                                <th colspan="4" class="active text-center">
                                                    <h4 class="title-exibition-training">{{ treino.nome }}</h4> <!-- /.title-exibition-training -->
                                                </th>
                                            </tr>
                                            <tr class="options-header-training">
                                                <th width="25%" class="options-exibition-training">Exercício</th>
                                                <th width="25%" class="options-exibition-training text-center">Série</th>
                                                <th width="25%" class="options-exibition-training text-center">Repetição</th>
                                                <th width="25%" class="options-exibition-training text-center">Peso</th>
                                            </tr>
                                           {% for exerc in treino.exercicios.all %}

                                            <tr>
                                                <td>{{ exerc.nome }}</td>
                                                <td class="text-center">{{ exerc.serie}}</td>
                                                <td class="text-center">{{ exerc.repeticao}}</td>
                                                <td class="text-center">{{ exerc.peso}}</td>
                                            </tr>

                                            {% endfor %}
                                    </table> <!-- /.table -->

                                {% endfor %}
                                </div> <!-- /.table-responsive -->

                        </div>
                     {% endwith %}
            </div>

{% endblock content-ficha %}
