{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
    <li><a href="#">Dalton Moraes</a></li>
    <li><a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a></li>
    <li class="active">Treinos</li>
{% endblock breadcrumb  %}

{% block content-ficha %}

        <div class="panel panel-primary admin-panel-attendance">

            <div class="panel-heading admin-panel-heading-attendance">
                <strong class="admin-panel-title">Informações da Ficha</strong>
            </div>

            <div class="panel-body">
                <div class="col-md-12">

                    <div class="panel-group" id="accordion"> <!-- panel-group-accordion -->

                    {% for treino in usuario.ficha.treinos.all %}

                        <div class="panel panel-default"> <!--panel -->
                            <div class="panel-heading heading-panel-training{% if forloop.first %}-active{% endif %}"> <!-- panel-heading -->
                                <h4 class="panel-title"> <!-- panel-title -->
                                    <a data-toggle="collapse" data-parent="#accordion" href="#treino-{{ treino.pk }}">{{ treino.nome }}</a>
                                </h4> <!-- /.panel-title -->
                            </div> <!-- /.panel-heading -->
                            <div id="treino-{{ treino.pk }}" class="panel-collapse collapse"> <!-- panel-collapse -->
                                <div class="panel-body"> <!-- panel-body -->

                                    <div class="col-md-12">

                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#exercicios-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Exercícios</h4></a>
                                            </li>
                                            <li>
                                                <a href="#presencas-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Presenças</h4></a>
                                            </li>
                                            <li>
                                                <a href="#graficos-treino-{{ treino.pk }}" data-toggle="tab"><h4 class="options-tabs">Gráficos</h4></a>
                                            </li>
                                        </ul>

                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="exercicios-treino-{{ treino.pk }}">
                                                <div class="table-responsive">
                                                    <div class="col-xs-10">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">Ordem</th>
                                                                    <th>Exercício</th>
                                                                    <th class="text-center">Série</th>
                                                                    <th class="text-center">Repetição</th>
                                                                    <th>Peso</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                {% for exerc in treino.exercicios.all %}

                                                                <tr>
                                                                    <td class="text-center">{{forloop.counter}}</td>
                                                                    <td>{{ exerc.nome }}</td>
                                                                    <td class="text-center">{{ exerc.serie}}</td>
                                                                    <td class="text-center">{{ exerc.repeticao}}</td>
                                                                    <td style="width: 1px;">
                                                                        <div class="input-group weight-control"> <!-- input-group -->
                                                                            <span class="input-group-btn"> <!-- input-group-btn-minus -->
                                                                                <button type="button" class="btn btn-danger btn-sm btn-number" ng-click="peso=peso-1;">
                                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                                </button>
                                                                            </span> <!-- /.input-group-btn-minus -->
                                                                            <input type="text" ng-init="peso=10;" ng-model="peso" class="form-control input-sm">
                                                                            <span class="input-group-btn"> <!-- input-group-btn-plus -->
                                                                                <button type="button" ng-click=" peso=peso+1" class="btn btn-primary btn-sm btn-number">
                                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                                </button>
                                                                            </span> <!-- /.input-group-btn-plus -->
                                                                        </div> <!-- /.input-group -->
                                                                    </td>
                                                                </tr>

                                                                {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 text-center">
                                                    <a href="{% url 'iniciar-treinamento' pk=usuario.aluno.pk treino=treino.pk %}" type="button" class="btn btn-success btn-sm start-training">Iniciar<br>Treinamento</a>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="presencas-treino-{{ treino.pk }}">
                                                <div class="table-responsive">
                                                    <div class="col-xs-10">
                                                        <h1>Presenças  do  {{ treino.nome }}</h1>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, eligendi, repudiandae, expedita impedit eos natus culpa quisquam minus possimus omnis quaerat consequatur molestias dolore consectetur repellat cumque neque a excepturi?
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="graficos-treino-{{ treino.pk }}">
                                                <div class="table-responsive">
                                                    <div class="col-xs-10">
                                                        <h1>Gráficos do {{ treino.nome }}</h1>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, deleniti, vel, voluptates atque delectus in aliquid sequi praesentium beatae voluptatum rem odio enim dolores ipsum maxime. Eveniet, in dolor ullam.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div> <!-- /.col-md-12 -->
                                </div> <!-- /.panel-body -->
                            </div> <!-- /.panel-collapse -->
                        </div> <!-- /.panel -->

                        {% empty %}

                        <div class="alert alert-purple alert-dismissable">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Cadastrar Treino!</strong>&nbsp;&nbsp;Não há nenhum treino cadastrado para o <strong>{{ usuario.aluno.username }}</strong>.
                        </div>

                        {% endfor %}

                    </div> <!-- /.panel-group-accordion -->
                </div>
            </div>
        </div>

{% endblock content-ficha %}
