{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
    <li><a href="#">Dalton Moraes</a></li>
    <li><a href="#">Bruno</a></li>
    <li class="active">Treinos</li>
{% endblock breadcrumb  %}

{% block content-ficha %}



<div class="panel panel-default"> <!-- panel-default -->
    <div class="panel-body"> <!-- panel-body -->
        <div class="col-md-12"> <!-- col-md-12 -->
        {% if ficha %}

            <ul id="myTab" class="nav nav-tabs">

                {% for treino in ficha.treinos.all %}
                <li {% if forloop.first %}class="active"{% endif %} >
                    <a href="#treino-{{ treino.pk }}" data-toggle="tab"><h5>{{ treino.nome }}</h5></a>
                </li>
                {% endfor %}

            </ul>


            <div id="myTabContent" class="tab-content">

            {% for treino in  ficha.treinos.all %}

                <div class="tab-pane  {% if forloop.first %}fade active in{% endif %}" id="treino-{{ treino.pk }}">
                    <div class="table-responsive">
                        <div class="col-xs-10">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Ordem</th>
                                        <th>Exercício</th>
                                        <th class="text-center">Série</th>
                                        <th class="text-center">Repetição</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for exerc in treino.exercicios.all %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td>{{ exerc.nome }}</td>
                                        <td class="text-center">{{ exerc.serie }}</td>
                                        <td class="text-center">{{ exerc.repeticao }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div>

        {% else %}

        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Cadastrar Treino!</strong> Não há nenhum treino para o {{ usuario.username }}.
        </div>

        {% endif %}
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.panel-body -->
</div> <!-- /.panel-default -->
{% endblock content-ficha %}
