
{% extends "administration/admin-base.html" %}

{% block content-ficha %}

                    <div class="panel panel-default">

                        <div class="panel-heading treinos-panel-heading">
                            Ficha de Treino
                        </div>

                        <!-- panel-body -->
                        <div class="panel-body">
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Nav Tabs -->
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#treino-a" data-toggle="tab">Treino A</a>
                                    </li>
                                    <li class="">
                                        <a href="#treino-b" data-toggle="tab">Treino B</a>
                                    </li>
                                    <li class="">
                                        <a href="#treino-c" data-toggle="tab">Treino C</a>
                                    </li>
                                    <li class="">
                                        <a href="#atividade-a" data-toggle="tab">Atividade A</a>
                                    </li>
                                    <li class="">
                                        <a href="#atividade-b" data-toggle="tab">Atividade B</a>
                                    </li>
                                </ul>
                                <!-- /.Nav Tabs -->

                                <!-- tab-content -->
                                <div id="myTabContent" class="tab-content">

                                    <div class="tab-pane fade active in" id="treino-a">
                                        <!-- table-responsive -->
                                        <div class="table-responsive">
                                            <!-- col-md-10 -->
                                            <div class="col-xs-10">
                                                <!-- table -->
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Exercício</th>
                                                            <th>Série</th>
                                                            <th>Repetição</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Supino Reto</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Rosca Direta</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Pullover</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Tríceps Corda</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Leg Press</td>
                                                            <td>3</td>
                                                            <td>8</td>
                                                        </tr>
                                                    </tbody>
                                                </table> <!-- /.table -->
                                            </div> <!-- /.col-md-10 -->
                                            <!-- col-md-2 -->
                                            <div class="col-xs-2">
                                                <!-- tabs right -->
                                                <div class="tabbable tabs-right">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#1" data-toggle="tab">Presenças</a></li>
                                                        <li><a href="#2" data-toggle="tab">Desempenho</a></li>
                                                        <li><a href="#3" data-toggle="tab">Gráficos</a></li>
                                                        <li><a href="#3" data-toggle="tab">Avaliações</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.tabs right -->
                                            </div> <!-- /.col-md-2 -->
                                        </div> <!-- table-responsive -->
                                    </div>

                                    <div class="tab-pane fade" id="treino-b">
                                        <!-- table-responsive -->
                                        <div class="table-responsive">
                                            <!-- col-md-10 -->
                                            <div class="col-md-10">
                                                <!-- table -->
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Exercício</th>
                                                            <th>Série</th>
                                                            <th>Repetição</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Tríceps Corda</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Supino Inclinado</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Rosca Cabo</td>
                                                            <td>3</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Tríceps Corda</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Leg Press</td>
                                                            <td>3</td>
                                                            <td>8</td>
                                                        </tr>
                                                    </tbody>
                                                </table> <!-- /.table -->
                                            </div>  <!-- col-md-10 -->
                                            <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <!-- tabs right -->
                                                <div class="tabbable tabs-right">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#1" data-toggle="tab">Presenças</a></li>
                                                        <li><a href="#2" data-toggle="tab">Desempenho</a></li>
                                                        <li><a href="#3" data-toggle="tab">Gráficos</a></li>
                                                        <li><a href="#3" data-toggle="tab">Avaliações</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.tabs right -->
                                            </div> <!-- /.col-md-2 -->
                                        </div> <!-- /.table-responsive -->
                                    </div>

                                    <div class="tab-pane fade" id="treino-c">
                                        <!-- table-responsive -->
                                        <div class="table-responsive">
                                            <!-- col-md-10 -->
                                            <div class="col-md-10">
                                                <!-- table -->
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Exercício</th>
                                                            <th>Série</th>
                                                            <th>Repetição</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Rosca Halter</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Glúteo Máquina</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Rosca Cabo</td>
                                                            <td>4</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Peck Deck</td>
                                                            <td>3</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Supino Declinado</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                    </tbody>
                                                </table> <!-- /.table -->
                                            </div> <!-- /.col-md-10 -->
                                            <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <!-- tabs right -->
                                                <div class="tabbable tabs-right">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#1" data-toggle="tab">Presenças</a></li>
                                                        <li><a href="#2" data-toggle="tab">Desempenho</a></li>
                                                        <li><a href="#3" data-toggle="tab">Gráficos</a></li>
                                                        <li><a href="#3" data-toggle="tab">Avaliações</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.tabs right -->
                                            </div> <!-- /.col-md-2 -->
                                        </div> <!-- /.table-responsive -->
                                    </div>

                                    <div class="tab-pane fade" id="atividade-a">
                                        <!-- table-responsive -->
                                        <div class="table-responsive">
                                            <!-- col-md-10 -->
                                            <div class="col-md-10">
                                                <!-- table -->
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Atividade A - Definir forma de exibição!</td>
                                                        </tr>
                                                    </tbody>
                                                </table> <!-- /.table -->
                                            </div> <!-- /.col-md-10 -->
                                            <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <!-- tabs right -->
                                                <div class="tabbable tabs-right">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#1" data-toggle="tab">Presenças</a></li>
                                                        <li><a href="#2" data-toggle="tab">Desempenho</a></li>
                                                        <li><a href="#3" data-toggle="tab">Gráficos</a></li>
                                                        <li><a href="#3" data-toggle="tab">Avaliações</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.tabs right -->
                                            </div> <!-- /.col-md-2 -->
                                        </div> <!-- /.table-responsive -->

                                    </div>

                                    <div class="tab-pane fade" id="atividade-b">
                                        <!-- table-responsive -->
                                        <div class="table-responsive">
                                            <!-- col-md-10 -->
                                            <div class="col-md-10">
                                                <!-- table -->
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Atividade B - Definir forma de exibição!</td>
                                                        </tr>
                                                    </tbody>
                                                </table> <!-- /.table -->
                                            </div> <!-- /.col-md-10 -->
                                            <!-- col-md-2 -->
                                            <div class="col-md-2">
                                                <!-- tabs right -->
                                                <div class="tabbable tabs-right">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#1" data-toggle="tab">Presenças</a></li>
                                                        <li><a href="#2" data-toggle="tab">Desempenho</a></li>
                                                        <li><a href="#3" data-toggle="tab">Gráficos</a></li>
                                                        <li><a href="#3" data-toggle="tab">Avaliações</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /.tabs right -->
                                            </div> <!-- /.col-md-2 -->
                                        </div> <!-- /.table-responsive -->

                                    </div>
                                </div> <!-- /.tab-content -->
                            </div> <!-- /.col-md-12 -->
                        </div> <!-- /.panel-body -->

                        <div class="panel-footer treinos-panel-footer">
                        </div>

                    </div> <!-- /.panel-default -->
{% endblock content-ficha %}
