{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Treinamento</li>
{% endblock breadcrumb  %}

{% block content-ficha %}
    {% if usuario.treinando%}
    <div class="panel panel-primary content-training"> <!-- content-training -->
        <div class="panel-heading training-title-base">
            <h4 class="training-title text-center">{{ usuario.treino.nome }}</h4> <!-- /.training-title -->
        </div>
        <div class="panel-body"> <!-- panel-body -->
                <div class="table-responsive"> <!-- table-responsive -->
                    <table class="table training"> <!-- table-striped -->
                        <thead>
                            <tr>
                                <th width="20%" class="text-center">Ordem</th>
                                <th width="20%">Exercício</th>
                                <th width="20%" class="text-center">Série</th>
                                <th width="20%" class="text-center">Repetição</th>
                                <th width="20%">Peso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exerc in usuario.treino.exercicios.all %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{ exerc.nome }}</td>
                                <td class="text-center">{{ exerc.serie }}</td>
                                <td class="text-center">{{ exerc.repeticao }}</td>
                                <td style="width: 1px;">
                                    <div class="input-group weight-control"> <!-- weight-control -->
                                        <span class="input-group-btn"> <!-- input-group-btn -->
                                            <span ng-show=" peso{{exerc.pk}} > 0">
                                            <button type="button"  class="btn btn-danger btn-sm minus-bt" ng-click=" peso{{exerc.pk}} = peso{{exerc.pk}} - 1;"> <!-- minus-bt -->
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button> <!-- /.minus-bt -->
                                            </span>
                                        </span> <!-- /.input-group-btn -->
                                        <input type="text" ng-init="peso{{exerc.pk}} = {{exerc.peso}};" ng-model="peso{{exerc.pk}}" class="form-control text-center input-sm"> <!-- input-sm -->
                                        <span class="input-group-btn"> <!-- input-group-btn -->
                                            <button type="button" ng-click=" peso{{exerc.pk}} = peso{{exerc.pk}} + 1;" class="btn btn-primary btn-sm plus-bt"> <!--- plus-bt -->
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button> <!--- /.plus-bt -->
                                            <button ng-click="atualizarPeso(peso{{exerc.pk}},{{exerc.pk}});" type="button" class="btn btn-primary btn-sm alt-bt">Salvar</button> <!--- /.alt-bt -->
                                        </span> <!-- /.input-group-btn -->
                                    </div> <!-- /.weight-control -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> <!-- /.table-striped -->
                </div> <!-- /.table-responsive -->

            {% else %}

                <div class="alert alert-info alermsg-training"> <!-- alermsg-training -->
                    <span class="alertmsg-start-training">Iniciar Treinamento!</span> <!-- /.alertmsg-start-training -->
                    <span class="alertmsg-no-start-training">Não há nenhum treinamento iniciado.</span> <!-- /.alertmsg-no-start-training -->
                </div> <!-- /.alermsg-training -->

            {% endif %}

            {% if usuario.treinando %}
                <a href="#stopModal" type="button" data-toggle="modal" class="btn btn-danger complete">Finalizar Treinamento</a> <!-- /.complete -->
                <a href="{% url 'cancelar-treinamento' usuario.aluno.pk %}" type="button" data-toggle="#" class="btn btn-warning cancel-training">Cancelar Treinamento</a> <!-- /.cancel-training -->
            {% endif %}
        </div> <!-- /.panel-body -->
    </div> <!-- /.content-training -->

{% endblock content-ficha %}
