{% extends "administration/admin-base.html" %}

{% block breadcrumb %}
{{ block.super }}
    <li class="breadcrumb-nav-section">
        <a href="{% url 'perfil-detail' usuario.aluno.pk %}">{{ usuario.aluno.username }}</a>
    </li>
    <li class="breadcrumb-nav-active">Treinamento</li>
{% endblock breadcrumb  %}

{% block content-ficha %}

    <div class="panel panel-primary admin-panel-attendance"> <!-- admin-panel-attendance -->
        <div class="panel-body"> <!-- panel-body -->
            <div class="col-md-12"> <!-- col-md-12 -->
                {% if usuario.treinando%}
               <div class="panel panel-default panel-training-started"> <!-- panel-default -->
                    <div class="panel-heading panel-heading-training-started"> <!-- panel-heading -->
                        <h4 class="panel-title-training-started">{{ usuario.treino.nome }}</h4>
                    </div> <!-- /.panel-heading -->
                    <div class="panel-body panel-body-training-started"> <!-- panel-body -->
                        <div class="table-responsive">
                            <div class="col-xs-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="20%" class="text-center">Ordem</th>
                                            <th width="20%">Exercício</th>
                                            <th width="20%" class="text-center">Série</th>
                                            <th width="20%" class="text-center">Repetição</th>
                                            <th width="20%">Peso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for exerc in usuario.treino.exercicios.all %}
                                        <tr>
                                            <td class="text-center">{{forloop.counter}}</td>
                                            <td>{{ exerc.nome }}</td>
                                            <td class="text-center">{{ exerc.serie }}</td>
                                            <td class="text-center">{{ exerc.repeticao }}</td>
                                            <td style="width: 1px;">
                                                <div class="input-group weight-control">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-danger btn-sm minus-bt" ng-click=" peso{{exerc.pk}} = peso{{exerc.pk}} - 1;">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" ng-init="peso{{exerc.pk}} = {{exerc.peso}};" ng-model="peso{{exerc.pk}}" class="form-control text-center input-sm">
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click=" peso{{exerc.pk}} = peso{{exerc.pk}} + 1;" class="btn btn-primary btn-sm plus-bt">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                        <button ng-click="atualizarPeso(peso{{exerc.pk}},{{exerc.pk}});" type="button" class="btn btn-primary btn-sm alt-bt">Salvar</button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- /.panel-body -->
                </div> <!-- /.panel-default -->
            {% else %}
            <div class="alert-message alert-message-registering-training">
                <button type="button" class="close close-message" data-dismiss="alert" aria-hidden="true">×</button>
                <span class="glyphicon glyphicon-ban-circle"></span>
                <strong class="registering-training">Iniciar&nbsp;Treinamento!</strong>&nbsp;&nbsp;Não&nbsp;há&nbsp;nenhum&nbsp;treinamento&nbsp;iniciado&nbsp;
            </div>
            {% endif %}
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.panel-body -->
        {% if usuario.treinando %}
        <div class="panel-footer panel-footer-training-started"> <!-- panel-footer -->
            <a href="#stopModal" type="button" data-toggle="modal" class="btn btn-danger complete">
                Finalizar Treinamento
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'cancelar-treinamento' usuario.aluno.pk %}" type="button" data-toggle="#" class="btn btn-warning cancel-training">
                Cancelar Treinamento
            </a>
        </div> <!-- /.panel-footer -->
        {% endif %}
    </div> <!-- /.admin-panel-attendance -->

{% endblock content-ficha %}
