<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="pt-BR" class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
<html lang="pt-BR" class="no-js lt-ie9 lt-ie8"> 
<![endif]-->
<!--[if IE 8]>         
<html lang="pt-BR" class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="pt-BR" class="no-js"> 
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vitta - Sistema de gestão de treinos dinâmica e inteligente para academias, studios e personal!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <!-- <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css"> -->
        
        <!-- <script src="{{STATIC_URL}}js/libs/modernizr.min.js"></script> -->
        <!-- <script src="{{STATIC_URL}}js/libs/angular.min.js"></script> -->
    </head>
    <body>

        <h1>Hello World Vitta!</h1>

        <!-- <script src="{{STATIC_URL}}js/libs/jquery.min.js"></script> -->
        <!-- <script src="{{STATIC_URL}}js/libs/bootstrap.min.js"></script> -->
        <!-- <script src="{{STATIC_URL}}js/libs/holder.js"></script> -->
        <!-- <script src="{{STATIC_URL}}js/main.js"></script> -->
    </body>
</html>