/* CSS Geral */

body {
	font-family: "Ubuntu";
	font-size: 15px;
}

/* CSS Login */

.login-full {
	background: url(../img/login-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.login-vertical-offset {
    padding-top: 150px;
}
.login-panel {
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 0;
}
.login-input, .login-btn {
	border-radius: 0;
}

/* CSS Navbar */

.admin-full {
	background: url(../img/admin-background.png);
}
.admin-navbar-bottom {
	background-color: #000;
	border: none;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #bbb;
}
.admin-navbar-search {
	padding-top: 8px;
	padding-bottom: 15px;
	width: 220px;
}
.admin-btn-search {
	margin-left: 18px;
}
.admin-navbar-assets {
	border-left: 1px solid #eee;
}
.admin-badge-assets {
	background-color: #5cb85c;
}
.admin-navbar-logout {
	border-left: 1px solid #eee;
}
.admin-badge-logout {
	background-color: #f00;
}