@charset "UTF-8";
/* General CSS Styles, Icons and Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 30px;
  color: #000;
  font-style: normal;
  margin-left: 0;
}
.flaticon-magnifier13:before {
  content: "\e000";
}
html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  height: 100%;
}
.admin-full {
  background: url(../img/admin-background.png);
}
/* #General CSS Styles, Icons and Fonts */

/* CSS Login */
.login-full {
  background: url(../img/login-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-vertical-offset {
    padding-top: 150px;
}
.login-panel {
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 0;
}
.login-input, .login-btn {
  border-radius: 0;
}
/* #CSS Login */

 /* CSS Navbar Admin Users */
.admin-navbar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.admin-navbar {
  background: none;
  border-top: none;
  margin-left: 15%;
}
.admin-navbar-toggle {
  background: #333;
  border: none;
}
.admin-navbar-toggle-icon {
  font-size: 20px;
  color: #fa4f48;
}
.admin-nav-users > li > a {
  padding-top: 4px;
  padding-bottom: 5px;
}
/* Pesquisa de usuários */
.admin-nav-search {
  margin-top: 12px;
  margin-bottom: 5px;
}
/* Alunos treinando */
.admin-nav-users-active {
  border: 2px solid #17c740;
}
/* Alunos não treinando */
.admin-nav-users-noactive {
  border: 2px solid transparent;
}
/* #CSS Navbar Admin Users */

/* CSS Modal */
.admin-modal-header {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.admin-user-search {
    margin-bottom: 15px;
}
.admin-user-name {
  padding-top: 18px;
}
.admin-user-category {
  padding-top: 18px;
}
.admin-user-viewprofile {
  padding-top: 12px;
}
.search-btn-close{
  background: #e73e2c;
  border: none;
}
.search-btn-close:hover {
  background: #e73e2c;
  border: none;
}
/* #CSS Modal */

/* CSS Modal Start */
.start-modal-header {
  background: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.close {
  font-size: 25px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  filter: none;
}
.date-col {
  margin-left: -20px;
}
.training-col {
  margin-left: -30px;
  width: initial;
}
.last-presence-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}
.last-presence-options {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.last-presence-sub-options {
  font-size: 13px;
  color: #fff;
}
.start-btn-close{
  background: #e73e2c;
  border: none;
}
.start-btn-close:hover {
  background: #e73e2c;
  border: none;
}

/* #CSS Modal Start */

/* CSS Modal Stop */
.stop-btn-close{
  background: #e73e2c;
  border: none;
}
.stop-btn-close:hover {
  background: #e73e2c;
  border: none;
}
/* #CSS Modal Stop */

/* CSS Navbar Vertical Admin */

/* CSS Navbar Base */
* {
  margin: 0;
  padding: 0;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.menubar {
  background: #fff;
  z-index: 200;
  position: fixed;
  width: 15%;
  height: 100%;
  float: left;
  background: #444;
}
.menubar-toggle {
  display: none;
}
.general-content {
    width: 85%;
    margin-top: 10px;
    float: right;
    min-height: 100%;
    position: relative;
}
/* CSS Navbar Base */

/* CSS Brand */
.admin-nav-brand ul {
  margin-bottom: 0;
}
.admin-nav-brand  li{
  display: block;
  width: 100%;
  line-height: 50px;
  text-indent: 10px;
}
.admin-nav-brand a {
  display: block;
  text-decoration: none;
  color: #bbb;
  background: #444;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* #CSS Brand */

/* CSS User Profile */
.admin-nav-profile {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}
.admin-nav-profile-img-user {
  margin-top: 8px;
}
.admin-nav-profile-name-user {
  font-family: 'Oswald', sans-serif;
}
.admin-nav-profile-information-user {
  font-size: 13px;
  margin-bottom: 6px;
}
/* #CSS User Profile */

/* CSS Closing Record */
.closing-record {
  margin-bottom: 5px;
}
.btn-close-record {
  background: #e73e2c;
  border: none;
  font-size: 13px;
}
.btn-close-record:hover {
  background: #e73e2c;
  border: none;
}
/* #CSS Closing Record */

/* CSS Nav Options */
.admin-nav-user {
  height: 32%;
  overflow: auto;
}
.admin-nav-user li{
  display: block;
  width: 100%;
  border-bottom: 1px solid #bbb;
  line-height: 40px;
  text-indent: 10px;
}
.admin-nav-user a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #444;
  font-size: 16px;
}
.admin-nav-user a.link-training {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #2ecc71;
  font-size: 16px;
}
.admin-nav-user a.active {
  border-right: 5px solid #e73e2c;
}
/* #CSS Nav Options */

/* CSS Start Training */
.start-training {
  border: 0;
  border-radius: 0;
  background: #444;
  border-bottom: 0;
  padding: 25px;
}
.panel > .start-training-heading {
  background: #428bca;
  padding: 5px;
}
.panel > .start-training-body {
  background: #f5f5f5;
  padding: 5px;
}
/* CSS Play */
.panel > .start-training-footer {
  background: #5cb85c;
  padding: 5px;
}
.glyphicon-play {
  font-size: 17px;
}
/* #CSS Play */

/* CSS Stop */
.panel > .stop-training-footer {
  background: #e73e2c;
  padding: 5px;
}
.glyphicon-stop {
  font-size: 17px;
}
/* #CSS Stop */

.start-training-title {
  font-size: 18px;
  color: #fff;
}
.start-training-stopwatch {
  font-size: 22px;
}
a.start-training-play {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* #CSS Start Training */


/* CSS Instructor 
.admin-vertical-instructor {
  height: 53px;
  background: #000;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.admin-vertical-instructor-active {
  position: relative;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-left: 10%;
}
.admin-vertical-notifications {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #e73e2c;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
a.admin-vertical-link-instructor {
  text-decoration: none;
  display: block;
  float: left;
}
a.admin-vertical-link-logout {
  font-size: 14px;
  color: #bbb;
  text-decoration: none;
  display: block;
  float: left;
  margin-left: 10%;
  margin-top: 10px;
}
#CSS Instructor */

/* #CSS Navbar Vertical Admin */

/* CSS Breadcrumb */
.admin-breadcrumb {
  background: #444;
}
.admin-breadcrumb a {
  font-weight: bold;
  color: #bbb;
  text-decoration: none;
}
.admin-breadcrumb li.active {
  font-weight: bold;
  color: #e73e2c;
}
/* #CSS Breadcrumb */

/* CSS Feedback */
.alert-message {
    margin-top: -12px;
    margin-bottom: 12px;
    padding: 10px 20px 10px 20px;
    box-shadow: 20px;
}
.alert-message-info {
    background-color: #f5f5f5;
}
.last-workout {
    color: #eee;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}
.information {
  padding-top: 10px;
}
.alert-message-info h5 {
    color: #000;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    display: inline;
}
.alert-message-registering-training {
    background-color: #6e5baa;
    border-left: 5px solid #9b59b6;
}
.registering-training {
    color: #eee;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}
.registering-training-user {
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.glyphicon-ban-circle { 
  margin-right: 4px;
  color: #eee;
  font-size: 17px;
}
.alert-message-no-presence {
    background-color: #e73e2c;
    border-left: 5px solid #ff0000;
}
.no-presence {
    color: #eee;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}
.no-presence-user {
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.user-attendance {
  color: #eee;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
.glyphicon-calendar { 
  margin-right: 4px;
  font-size: 16px;
}
/* #CSS Feedback */

/* CSS Record Header */
.record-header {
  color: #000;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
.glyphicon-tasks{ 
  margin-right: 4px;
  font-size: 15px;
}
.admin-panel-heading-attendance h5 {
  color: #f1c40f;
  font-size: 15px;
  text-transform: uppercase;
  display: inline;
}
/* #CSS Record Header */

/* CSS Training Started */
.panel-training-started {
  border: none;
  box-shadow: none;
}
.panel-heading-training-started {
  border: none;
}
.panel-title-training-started {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.panel-body-training-started {
  box-shadow: none;
}
/* #CSS Training Started */

/* CSS Training Exibition */
.table-bordered > tbody > tr >th {
  border: 1px solid #000;
}
.table-bordered > tbody > tr >td {
  border: 1px solid #000;
}
h4.title-exibition-training {
  font-family: 'Oswald', sans-serif;
}
th.options-exibition-training {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.glyphicon-align-justify {
  color: #444;
  margin-top: 5px;
  margin-bottom: 0;
}
.glyphicon-list {
  color: #444;
  margin-top: 5px;
  margin-bottom: 0;
}
/* #CSS Training Exibition */

/* CSS Swap Sheet */
.swap-sheet {
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  background: #fff;
}
.swap-sheet:hover {
  background: #fff;
}
.open .dropdown-toggle.btn-default {
  background: #fff;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid rgba(0,0,0,.15);
  border-left: 1px solid rgba(0,0,0,.15);
  border-right: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.sheet-text {
  font-size: 15px;
}
.sheet-drop {
  font-size: 15px;
}
.dropdown-menu {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 0;
  width: 165px;
  margin-top: 0;
}
.dropdown-menu>li>a:hover {
  background: none;
}
/* #CSS Swap Sheet */

/* CSS Training */
.nav-tabs {
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}
.nav-tabs > li > a {
  color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom-color: transparent;
  cursor: default;
}
h4.options-tabs {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.table > thead > tr > th {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.table > tbody > tr > td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 16px;
}
.table > thead:first-child > tr:first-child > th {
  border-bottom: 1px solid #000;
}
.panel > .heading-panel-training {
  background: #444;
}
.panel > .heading-panel-training-active {
  background: #5cb85c;
}
a.panel-title {
  font-size: 18px;
  color: #eee;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
a.icon-exibition {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
}
.weight-control {
  width: 105px;
}
/* .start-training {
  margin-top: 38px;
  border: none;
  font-size: 16px;
}
.start-training:hover {
  background: #5cb85c;
  border: none;
} */
.complete-training {
  background: #e73e2c;
  margin-top: 38px;
  border: none;
  font-size: 16px;
}
.complete-training:hover {
  background: #e73e2c;
  border: none;
}
/* #CSS Training */

/* CSS Attendance */
.admin-panel-attendance {
  border: none;
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topleft: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
}
.panel > .admin-panel-heading-attendance {
  background: #444;
  border: none;
}
.panel > .admin-panel-heading-attendance > .admin-panel-title {
  font-size: 18px;
  color: #eee;
  font-weight: normal;
}
.table {
  border: none;
}
.attendance-header-title {
  font-weight: normal;
  color: #eee;
}
.attendance-header-one {
  background: #3498db;
}
.attendance-start {
  color: #3498db;
}
.attendance-header-two {
  background: #e74c3c;
}
.attendance-stop {    
  color: #d9534f;
}
.attendance-header-three {
  background: #2ecc71;
}
.attendance-time {
  color: #5cb85c;
}
.attendance-header-four {
  background: #e67e22;
}
.attendance-training {
  color: #e67e22;
}
.attendance-header-five {
  background: #7f8c8d;
}
.attendance-instrutor {
  color: #969696;
}
.table > tbody > tr > td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* #CSS Attendance*/

/* CSS Media Queries */
@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */

}
@media (min-width:600px) and (max-width: 800px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .wrap {
   max-width: 100%;
   margin: 0;
  }
  .menubar {
    width: 175px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .general-content {
    width: 100%;
    position: relative;
    float: none;
    padding-left: 50px;
  }
  .menubar-toggle {
    position: absolute;
    top: 0;
    right: -47px;
    color: #fff;
    cursor: pointer;
    width: auto;
    height: 50px;
    line-height: 25px;
    z-index: 1000;
    display: block;
    background: #e73e2c;
    padding: 12px 6px 6px 6px;
  }
  .admin-nav-brand a {
    font-size: 18px;
  }
  .admin-vertical-instructor-active {
    margin-left: 8%;
  }
  .closing-record {
    margin-left: 22%;
  }
  a.admin-vertical-link-logout {
    font-size: 13px;
    margin-left: 7%;
  }
  .admin-navbar {
    margin-left: 0;
  }
}
@media (min-width: 801px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .menubar {
    width: 15%;
  }
  .general-content {
    width: 85%;
  }
  .admin-navbar {
    margin-left: 15%;
  }
  .admin-nav-brand a {
    font-size: 16px;
  }
  .admin-nav-profile-information-user {
    font-size: 12px;
  }
  .admin-vertical-instructor-active {
    margin-left: 5%;
  }
  .closing-record {
    margin-left: 18%;
  }
  a.admin-vertical-link-logout {
    font-size: 12px;
    margin-left: 7%;
  }
  .admin-nav-user {
    height: 35%;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */


}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}
/* #CSS Media Queries */