/* CSS Geral */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

/* CSS Login */

.login-full {
	background: url(../img/login-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.login-vertical-offset {
    padding-top: 150px;
}

.login-panel {
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 0;
}

.login-input, .login-btn {
	border-radius: 0;
}

/* CSS Navbar */

.admin-full {
	background: url(../img/admin-background.png);
}

.admin-navbar-bottom {
	background-color: #000;
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #bbb;
}

.admin-navbar-search {
	padding-top: 8px;
	padding-bottom: 15px;
	width: 220px;
}

.admin-btn-search {
	margin-left: 15px;
}

.admin-navbar-assets {
	border-left: 1px solid #eee;
}

.admin-badge-assets {
	background-color: #5cb85c;
}

.admin-navbar-logout {
	border-left: 1px solid #eee;
}

.admin-badge-logout {
	background-color: #f00;
}

/* CSS Modal */

.admin-modal-header {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.admin-user-search {
    margin-bottom: 15px;
}

.admin-user-name {
  padding-top: 18px;
}

.admin-user-category {
  padding-top: 18px;
}

.admin-user-viewprofile {
  padding-top: 12px;
}

.search-btn-close{
  background: #fa4f48;
  border-color: #eee;
}

.search-btn-close:hover {
  background: #444;
  border-color: #eee;
}

/* CSS Treinos 

.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-right > .nav-tabs > li {
  float: left;
}

.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 10px;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
} */

/* Importação CSS Simple Sidebar 

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 220px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #bbb;
  background: #428bca;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  font-family: 'Amaranth', sans-serif;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #bbb;
  background: none;
}

.content-header {
  margin-left: 32px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

.thumbnail {
  width: 250px;
}

} */

/* Menu de navegação */

* {
  margin: 0;
  padding: 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.menubar {
  background: #fff;
  z-index: 200;
  position: fixed;
  width: 15%;
  height: 100%;
  float: left;
  background: #444;
}
.menubar ul {
  padding: 0em;
}

li {
  display: block;
  width: 100%;
  line-height: 40px;
  text-indent: 10px;
}

a {
  display: block;
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #fff;
  background: #fa4f48;
  text-decoration: none;
}

.user-options a.active{
  color: #fff;
  background: #fa4f48;
  text-decoration: none;
}

.menubar-toggle {
  display: none;
}

.treinos {
    width: 85%;
    margin-top: 10px;
    float: right;
}

.menu-brand {
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  font-family: 'Julius Sans One', sans-serif;
}

.menu-brand a {
  color: #fff;
}

.menu-brand a:hover {
  color: #bbb;
  background: none;
}

.search {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  background-color: #428bca;
  position: absolute;
  bottom: 0;
  left: 0;
}
.search a {
  color: #fff;
}

.search a:hover {
  color: #bbb;
  background: none;
}
.text {
  padding-left: 22px;
}

/* Media Queries */

@media only screen and (max-width: 800px) {

.wrap {
   max-width: 100%;
   margin: 0;
}

.menubar {
  width: 175px;
  position: absolute;
  top: 0;
  left: 0;
}
         
.menubar ul {
  padding: 0em;
  margin: 0;
  background: #444;
}   

li {
  margin: 0;
  padding: 0;
  display: block;
}

li a {
  padding: 0em;
  display: block;
  color: #fff;
}

.menubar-toggle {
  position: absolute;
  top: 0;
  right: -46px;
  color: #fff;
  cursor: pointer;
  width: auto;
  height: 45px;
  z-index: 1000;
  display: block;
  background: #fa4f48;
  padding: 12px 6px 6px 6px;
}

.treinos {
  width: 100%;
  padding-left: 60px;
  margin-top: 10px;
  position: relative;
  float: none;
}

.menu-brand {
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
}

.text {
  padding-left: 9px;
}

}

/* Perfil do Usuário */

.profile {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.profile-img-user {
  margin-top: 10px;
}

.profile-name-user {
  font-family: 'Oswald', sans-serif;
}

.profile-btn-close {
  background: #fa4f48;
  border-color: #eee;
}

.profile-btn-close:hover {
  background: #444;
  border-color: #eee;
}

.profile-information-user {
  font-size: 13px;
}

